*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #c9c3c3;
}
a{
    text-decoration: none;
    color: #000000;
}
ul,li{
    list-style: none;
    gap: 24px;
}
.content{
    max-width: 1440px;
    height: 2000px;
    margin: auto;
    background: white;
}
.container{
    max-width: 1440px;
    height: 700px;
    margin: auto;
    background-color: white;
}
.mini_header{
    height:38px;
    background-color: #000000;
}
.mini_info{
    font-size: 14px;
    line-height: 18px;
    font-weight: 500px;
    color: aliceblue;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
}
.header{
    margin-top: 37px;
    margin-left: 100px;
}
.header_mini{
    margin-left: 300px;
    margin-top: -27px;
    
}
.shop{
    display: flex;
}
.form{
    width: 577px;
    height: 48px;
    border-radius: 62px;
    background-color: #F0F0F0;
    border: 1px solid #F0F0F0;
    padding-left: 52px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
}
.search{
    margin-left: 661px;
    margin-top: -32px;
}
.img{
    margin-left: -560px;
}
.icon_mini{
    margin-left:670px;
    margin-top: -35px;
    gap: 12px;
}
.containerTwo{
    background-color: #F2F0F1;
    max-width: 1440px;
    height: 660px;
    margin-top: 24px;
}
.h1{
    position: absolute;
    font-family: "Integral CF";
    font-size: 64px;
    font-weight: 900px;
    line-height: 64px;
    padding-top: 103px;
    margin-left: 100px;
    
}
.find_info{
    position: absolute;
    font-family: "Satoshi";
    color: #2e2d2d;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding-top: 312px;
    margin-left: 100px;
}
.black_BUTTON{
    position: absolute;
    background-color: #030303;
    width:210px;
    height:52px;
    border-radius: 62px;
    border: 1px solid;
    color: antiquewhite;
    margin-top: -282px;
    margin-left: 100px;
}
.black_BUTTON:hover{
    position: absolute;
    background-color: #807777;
}
.black_BUTTON:active{
    position: absolute;
    background-color: rgb(43, 255, 0);
}
.p_one{
    font-family: Satoshi;
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.prosent_img{
    margin-top: -170px;
    margin-left: 100px;
}
.star_img{
    position: absolute;
    margin-left: 740px;
    padding-top: 303px;
}
.star_imgTwo{
    position: absolute;
    margin-left: 1232px;
    margin-top: 90px;
}
.mini_container{
    background-color: #000000;
    max-width: 1440px;
    height: 122px;
    margin-top: -60px;
}
.versace{
    margin-top: 61px;
    margin-left: 58px;
}
.zara{
    margin-left: 198px;
    margin-top: -42px;
}
.gucci{
    margin-left: 298px;
    margin-top: -26px;
}
.parada{
    margin-left: 858px;
    margin-top: -35px;
}
.kleyn{
    margin-left: 1138px;
    margin-top: -19px;
}
.new{
    max-width: 1440px;
    height: 1000px;
    background: white;
}
.top{
    margin-top: -250px;
    background: white;
}
.box_ded{
    margin-top: -220px;
    max-width: 1440px;
    background: white;
}
.arivalls{
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    text-align: center;
    align-items: center;
    padding-top: 92px;
}
.cart{
   width: 305px;
   height: 444px;
   border-radius: 20px;
   margin-top: 55px;
   margin-left: 100px;
}
.card_info{
    font-family: "Satoshi";
    font-weight: 900px;
    line-height: 27px; 
    font-size: 19px;
    margin-top: 16px;
}
.stars_img{
    align-items: center;
    justify-content: center
}

.carttwo{
    margin-left: 409px;
    margin-top: -445px;
}
.cartthre{
    margin-left: 717px;
    margin-top: -405px;
}
.cartfiwe{
    margin-left: 1027px;
    margin-top: -403px;
}
.card_button{
    width:218px;
    height:52px;
    margin-left: 610px;
    margin-top: 36px;
    background: white;
    padding: 16px 54px 16px 54px;
    gap: 12px;
    border-radius: 62px;
    border: 1px solid rgb(233, 225, 225);
}
.card_button:active{
    background: #000000;
    color: #F0F0F0;
}
.hr{
    margin: auto 87px;
    margin-top: 64px;
}
.cartfiwes{
    margin-left: 1025px;
    margin-top: -395px;
}
.mini_box{
    margin-top: 18px;
    margin-left: 7px;
}
.main_box{
    width: 1239px;
    height: 866px;
    margin-left: 84px;
    border-radius: 40px;
    background-color: #F0F0F0;

}
.box_minis{
    padding-top: 110px;
}
.containers{
    background: white;
    height: 1100px;
}
.dithayn{
    margin-left: 276px;
    margin-top: 70px;
}
.box{
    margin-left: 64px;
    margin-top: 64px;
}
.boxtwo{
    margin-left: 502px;
    margin-top: -290px;
}
.boxthre{
    margin-left: 64px;
    margin-top: 20px;
}
.boxfoo{
    margin-left: 782px;
    margin-top: -295px;
}
.happy{
    margin-left: 84px;
    margin-top: 31px;
}
.happy_box{
    width:400px;
    height:240px;
    padding: 28px 32px 28px 32px;
    border-radius:20px;
    border: 1px solid rgb(238, 236, 236);
    margin-left: 100px;
    margin-top: 40px;
}
.info{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #807777;
}
.happy_box2{
    width:400px;
    height:240px;
    padding: 28px 32px 28px 32px;
    border-radius:20px;
    border: 1px solid rgb(238, 236, 236);
    margin-left: 510px;
    margin-top: -238px;
}
.happy_box3{
    width:400px;
    height:240px;
    padding: 28px 32px 28px 32px;
    border-radius:20px;
    border: 1px solid rgb(238, 236, 236);
    margin-left: 920px;
    margin-top: -240px;
}
.icontwo{
   margin-left: 30px;
   margin-top: -24px;
}
.icon{
    margin-left: 1254px;
    margin-top: -20px;
}

.container_footerBox{
    position: absolute;
    max-width: 1240px;
    border: 1px;
    height: 180px;
    border-radius: 20px;
    background-color: #000000;
    margin-top: -1800px;
    margin-left: 730px;
}
.stay{
    margin-top:43px;
    margin-left:64px;
}
.formss{
    width:349px;
    height:48px;
    padding-right: 15px;
    padding-left: 52px;
    gap: 12px;
    border-radius:62px;
    font-size: 16px;
    line-height:21px;
    font-weight: 400px;
 
   
}
.imput_fouterr{
    margin-left:827px;
    margin-top: -96px;
}
.fouter_box{
    width:349px;
    height:48px;
    border-radius:62px;
    background: white;
    font-size: 16px;
    line-height:21px;
    font-weight: 400px;
    border:1px;
    color: #9b9999;
    margin-left:827px;
    margin-top: 14px;
}
.fouter_box:active{
    background: #7385eb;
    color: #F0F0F0;
}
.fouter_boxTwo{
    width: 1441px;
    height: 499px;
    background: #F0F0F0;
    
}
.fouterbox{
    position: relative;
    max-width:1240px;
    height: 181px;
    margin: auto;
    background: #000000;
    border-radius: 24px;
    margin-bottom: 50px;
    margin-top: 250px;
}
.stay{
    margin-top: 43px;
    margin-left: 64px;
}
.btn_fouter{
    width:349px;
    height:46px;
    padding: 12px 16px 12px 16px;
    gap: 12px;
    border-radius: 62px;
    margin-top: 14px;
}
.btn_fouter:active{
    background: #2e2d2d;
    color: white;
    border: 1px;
}
.shopimg{
    margin-top: 140px;
    margin-left: 114px;
}
.fouterinfo{
    color: #9b9999;
    margin-left: 114px;
    line-height:22px;
    margin-top: 22px;
}
.social{
    margin-top: 35px;
    margin-left: 114px;
}
.PINFO{
    color: #9b9999;
    font-size: 16px;
    font-weight: 400;
    line-height: 39px;
}
.fouterP{
    margin-left: 475px;
    margin-top: -180px;
}
.fouterPtwo{
    margin-left: 693px;
    margin-top: -176px;
}
.fouterPthre{
    margin-left: 942px;
    margin-top: -177px;
}
.fouterPfoo{
    margin-left: 1205px;
    margin-top: -175px;
}
.Company{
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 3px;  
}
.hrfouter{
    margin: auto 101px;
    margin-top: 60px;
}
.gmail_com{
    font-size: 14px;
    font-weight: 400;
    line-height: 18.9px;
    margin-top: 25px;
    color: #9b9999;
    margin-left: 127px;
}
.visa{
    margin-left: 1055px;
    margin-top: -27px;
}